.CommandLine {
  display: flex;
  position: relative;
  padding: 4px 20px;
}

.CommandLine__timestamp {
  display: inline-block;
}

.CommandLine__input-wrap {
  position: relative;
  flex: 1;
}

.CommandLine__input {
  display: block;
  margin: 0;
  outline: 0;
  border: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  color: rgb(161, 181, 108);
  line-height: 24px;
  font-family: 'c64', monospace;
  font-size: .75rem;
  z-index: 10;
  caret-color: transparent;

}
.CommandLine__input:disabled {
  background-color: rgb(216, 216, 216);
}

.CommandLine__shadow {
  position: absolute;
  top: -999;
  opacity: 0;
  background-color: rgb(216, 216, 216);
}
