.Header {
  position: relative;
  top: 40px;
  z-index: 10;
}

.Header__avatar {
  /* @media (min-width: 400px) {
    width: (20px * 6);
    height: (20px * 6);
  } */

  display: block;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  border: 5px solid rgb(137,201,250);
  border-radius: 50%;
  padding: 0;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.Header__avatar:hover {
  border-color: rgb(137,201,250);
}

.Header__photo {
  display: block;
  border-radius: 50%;
  width: 100%;
  height: auto;
}
