.Item {
  list-style: none;
  margin: 0;
  padding: 0 20px;
}

.Item:before {
  content: '';
  padding: 0;
}

.Item__command-wrap {
  margin: 0;
  padding: 0;
  line-height: 24px;
  font-family: 'Fira Mono', monospace;
  font-size: .75rem;
}

.Item__command {
  display: inline-block;
  color: rgb(161, 181, 108);
}

.Item__result {
  margin: 0;
  padding: 10px 0;
  line-height: 24px;
  font-family: 'Fira Mono', monospace;
  font-size: .75rem;
  white-space: pre-wrap;
}
