.Icon {
  display: inline-block;
  margin: 0 8px;
}

.Icon::before {
  padding: 0;
  content: '';
}

.Icon__link {
  display: block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.Icon__link:hover {
  color: rgb(255, 255, 255);
}

.Icon--twitter {
  background-color: #4099ff;
}

.Icon--twitter:hover {
  background-color: rgba(#4099ff, .9);
}

.Icon--github {
  background-color: #4183c4;
}

.Icon--github:hover {
  background-color: rgba(#4183c4, .9);
}

.Icon--linkedin {
  background-color: #0976b4;
}

.Icon--linkedin:hover {
  background-color: rgba(#0976b4, .9);
}

.Icon--instagram {
  background-color: #125688;
}

.Icon--instagram:hover {
  background-color: rgba(#125688, .9);
}

.Icon--resume {
  background-color: rgb(124, 175, 194);
}

.Icon--resume:hover {
  background-color: rgba(137,201,250, .9);
}
