.ResizeToggle {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 10;
}

.ResizeToggle__link {
  transition: all .3s ease;
  position: relative;
  display: inline-block;
  margin: 4px;
  border: 2px solid rgba(216, 216, 216, .2);
  width: 20px;
  height: 16px;
  background-color: rgb(216, 216, 216);
  font-size: 0;
}

.ResizeToggle__link:hover {
  border-color: rgba(161, 181, 108, .2);
  background-color: rgb(161, 181, 108);
}

.ResizeToggle__icon {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 20px;
  z-index: 10;
  border: 2px solid rgb(24, 24, 24);
  border-bottom-width: 8px;
  box-sizing: border-box;
}

.ResizeToggle__icon--maximize {
  border-bottom-width: 12px;
}

.ResizeToggle__icon--split {
  border-bottom-width: 8px;
}

.ResizeToggle__icon--minimize {
  border-bottom-width: 4px;
}
